<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <!--integration of help -->
    <extension
            point="org.eclipse.help.contexts">
        <contexts
                file="help/help-contexts.xml">
        </contexts>
    </extension>

    <!-- integration of a Gluon project creation wizard -->
    <extension point="org.eclipse.ui.newWizards">
        <category
                id="com.gluonhq.plugin"
                name="Gluon">
        </category>
        <wizard
                id="com.gluonhq.eclipse.plugin.wizard.mobile.singleviewproject"
                class="com.gluonhq.eclipse.plugin.wizard.mobile.singleview.GluonProjectSingleApplicationWizard"
                name="Gluon - Single View Project"
                category="com.gluonhq.plugin"
                icon="icons/Gluon_16x16.png"
                canFinishEarly="false"
                hasPages="true"
                project="true">
            <description>Create a Single View Project</description>
        </wizard>
        <wizard
                id="com.gluonhq.eclipse.plugin.wizard.mobile.multiviewproject"
                class="com.gluonhq.eclipse.plugin.wizard.mobile.multiview.GluonProjectMultiViewWizard"
                name="Gluon - Multi View Project"
                category="com.gluonhq.plugin"
                icon="icons/Gluon_16x16.png"
                canFinishEarly="false"
                hasPages="true"
                project="true">
            <description>Create a Multi View Project</description>
        </wizard>
        <wizard
                id="com.gluonhq.eclipse.plugin.wizard.mobile.multiviewfxmlproject"
                class="com.gluonhq.eclipse.plugin.wizard.mobile.multiviewfxml.GluonProjectMultiViewFXMLWizard"
                name="Gluon - Multi View Project (FXML)"
                category="com.gluonhq.plugin"
                icon="icons/Gluon_16x16.png"
                canFinishEarly="false"
                hasPages="true"
                project="true">
            <description>Create a Multi View Project with FXML</description>
        </wizard>
        <wizard
                id="com.gluonhq.eclipse.plugin.wizard.mobile.multiviewfxmlgafproject"
                class="com.gluonhq.eclipse.plugin.wizard.mobile.multiviewfxmlgaf.GluonProjectMultiViewFXMLGAfWizard"
                name="Gluon - Glisten-Afterburner Project"
                category="com.gluonhq.plugin"
                icon="icons/Gluon_16x16.png"
                canFinishEarly="false"
                hasPages="true"
                project="true">
            <description>Create a Multiple View Project with Glisten-Afterburner</description>
        </wizard>
    </extension>
</plugin>
