<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <!--integration of help -->
    <extension
            point="org.eclipse.help.contexts">
        <contexts
                file="help/help-contexts.xml">
        </contexts>
    </extension>

    <!-- integration of a Gluon project creation wizard -->
    <extension point="org.eclipse.ui.newWizards">
        <category
                id="com.gluonhq.plugin"
                name="Gluon">
        </category>
        <wizard
                id="com.gluonhq.eclipse.plugin.wizard.desktop.singleviewproject"
                class="com.gluonhq.eclipse.plugin.wizard.desktop.singleview.GluonProjectSingleApplicationWizard"
                name="Gluon Desktop - Single View Project"
                icon="icons/GluonDesktop_16x16.png"
                category="com.gluonhq.plugin"
                canFinishEarly="false"
                hasPages="true"
                project="true">
            <description>Create a Single View Project</description>
        </wizard>
        <wizard
                id="com.gluonhq.eclipse.plugin.wizard.desktop.multiviewproject"
                class="com.gluonhq.eclipse.plugin.wizard.desktop.multiview.GluonProjectMultiViewWizard"
                name="Gluon Desktop - Multi View Project"
                icon="icons/GluonDesktop_16x16.png"
                category="com.gluonhq.plugin"
                canFinishEarly="false"
                hasPages="true"
                project="true">
            <description>Create a Multi View Project</description>
        </wizard>
        <wizard
                id="com.gluonhq.eclipse.plugin.wizard.desktop.multiviewfxmlproject"
                class="com.gluonhq.eclipse.plugin.wizard.desktop.multiviewfxml.GluonProjectMultiViewFXMLWizard"
                name="Gluon Desktop - Multi View Project (FXML)"
                icon="icons/GluonDesktop_16x16.png"
                category="com.gluonhq.plugin"
                canFinishEarly="false"
                hasPages="true"
                project="true">
            <description>Create a Multi View Project with FXML</description>
        </wizard>
        <wizard
                id="com.gluonhq.eclipse.plugin.wizard.mobile.singleviewproject"
                class="com.gluonhq.eclipse.plugin.wizard.mobile.singleview.GluonProjectSingleApplicationWizard"
                name="Gluon Mobile - Single View Project"
                category="com.gluonhq.plugin"
                icon="icons/GluonMobile_16x16.png"
                canFinishEarly="false"
                hasPages="true"
                project="true">
            <description>Create a Single View Project</description>
        </wizard>
        <wizard
                id="com.gluonhq.eclipse.plugin.wizard.mobile.multiviewproject"
                class="com.gluonhq.eclipse.plugin.wizard.mobile.multiview.GluonProjectMultiViewWizard"
                name="Gluon Mobile - Multi View Project"
                category="com.gluonhq.plugin"
                icon="icons/GluonMobile_16x16.png"
                canFinishEarly="false"
                hasPages="true"
                project="true">
            <description>Create a Multi View Project</description>
        </wizard>
        <wizard
                id="com.gluonhq.eclipse.plugin.wizard.mobile.multiviewfxmlproject"
                class="com.gluonhq.eclipse.plugin.wizard.mobile.multiviewfxml.GluonProjectMultiViewFXMLWizard"
                name="Gluon Mobile - Multi View Project (FXML)"
                category="com.gluonhq.plugin"
                icon="icons/GluonMobile_16x16.png"
                canFinishEarly="false"
                hasPages="true"
                project="true">
            <description>Create a Multi View Project with FXML</description>
        </wizard>
        <wizard
                id="com.gluonhq.eclipse.plugin.wizard.mobile.multiviewfxmlgafproject"
                class="com.gluonhq.eclipse.plugin.wizard.mobile.multiviewfxmlgaf.GluonProjectMultiViewFXMLGAfWizard"
                name="Gluon Mobile - Glisten-Afterburner Project"
                category="com.gluonhq.plugin"
                icon="icons/GluonMobile_16x16.png"
                canFinishEarly="false"
                hasPages="true"
                project="true">
            <description>Create a Multiple View Project with Glisten Afterburner</description>
        </wizard>
    </extension>
    <extension point="org.eclipse.ui.preferencePages">
        <page
                class="com.gluonhq.eclipse.plugin.preferences.OptionsPage"
                id="com.gluonhq.eclipse.plugin.preferences.SamplePreferencePage"
                name="Gluon">
        </page>
    </extension>
</plugin>